<div>
    <h5 class="text-center">{{title}}</h5>
    <div>
        <label for="" class="form-label">ID</label>
        <input type="text" ng-model="inputValue.id" class="form-control" disabled>
        <label for="" class="form-label">Ten</label>
        <input type="text" ng-model="inputValue.ten" class="form-control" disabled>
        <label for="" class="form-label">Hãng</label>
        <input type="text" ng-model="inputValue.hang" class="form-control" disabled>
        <label for="" class="form-label">Giá</label>
        <input type="text" ng-model="inputValue.gia" class="form-control" disabled>
        <a href="#!/edit/phone/{{editID}}"><button class="btn btn-primary">Sửa</button></a>
        <a href="#!/list-phone"> <button class="btn btn-warning">Quay Lại</button></a>
       
    </div>
</div>